intermediate profile: Windows XP IE8 does not work

For [lighttpd 1.4.51 | intermediate profile | OpenSSL 1.0.1o](https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=lighttpd-1.4.51&openssl=1.0.1o&hsts=yes&profile=intermediate) the site states:

> Oldest compatible clients : Firefox 1, Chrome 1, IE 7, Opera 5, Safari 1, Windows XP IE8, Android 2.3, Java 7

Windows XP IE8 however fails to make a connection. The client simulation by [testssl.sh](https://github.com/drwetter/testssl.sh) comes to the same conclusion.

     IE 8 XP                      No connection

So either update the description or the created config, one of them is wrong.

[Intermediate profile](https://wiki.mozilla.org/Security/Server_Side_TLS#Intermediate_compatibility_.28default.29) supports both 3DES cipher and TLS 1.0 protocol, so unless the server is missing a RSA certificate, it should work

Maybe it should, but it does not. This is what the site generates (following my first link from above):
```
$SERVER["socket"] == ":443" {
    protocol     = "https://"
    ssl.engine   = "enable"
    ssl.disable-client-renegotiation = "enable"

    # pemfile is cert+privkey, ca-file is the intermediate chain in one file
    ssl.pemfile               = "/path/to/signed_cert_plus_private_key.pem"
    ssl.ca-file               = "/path/to/intermediate_certificate.pem"
    
    # for DH/DHE ciphers, dhparam should be >= 2048-bit
    ssl.dh-file               = "/path/to/dhparam.pem"
    # ECDH/ECDHE ciphers curve strength (see `openssl ecparam -list_curves`)
    ssl.ec-curve              = "secp384r1"
    # Compression is by default off at compile-time, but use if needed
    # ssl.use-compression     = "disable"

    # Environment flag for HTTPS enabled
    setenv.add-environment = (
        "HTTPS" => "on"
    )

    # intermediate configuration, tweak to your needs
    ssl.use-sslv2 = "disable"
    ssl.use-sslv3 = "disable"
    ssl.honor-cipher-order    = "enable"
    ssl.cipher-list           = "ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS"

    # HSTS(15768000 seconds = 6 months)
    setenv.add-response-header  = (
        "Strict-Transport-Security" => "max-age=15768000;"
    )

    ...
}
```

The cert/key is a self signed from openssl 1.0.1o (as said above), generated like this:

```
openssl req -x509 -new -keyout key.pem -out cert.pem -nodes -subj "/CN=$(hostname)" -utf8 -batch
```

And this is the output of a testssl.sh (3.0rc2-17-gc0b43b3) run against that lighttpd 1.4.51 server:

```
###########################################################
    testssl.sh       3.0rc2 from https://testssl.sh/dev/
    (c0b43b3 2018-11-02 14:04:12 -- )

      This program is free software. Distribution and
             modification under GPLv2 permitted.
      USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!

       Please file bugs @ https://testssl.sh/bugs/

###########################################################

 Using "OpenSSL 1.0.2-chacha (1.0.2i-dev)" [~183 ciphers]
 on ada:./bin/openssl.Linux.x86_64
 (built: "Jun 22 19:32:29 2016", platform: "linux-x86_64")


 Start 2018-11-05 15:33:23        -->> 192.168.10.149:443 (192.168.10.149) <<--

 rDNS (192.168.10.149):  --
 Service detected:       HTTP

 
 Testing protocols via sockets except NPN+ALPN 

 SSLv2      not offered (OK)
 SSLv3      not offered (OK)
 TLS 1      offered
 TLS 1.1    offered
 TLS 1.2    offered (OK)
 TLS 1.3    not offered
 NPN/SPDY   not offered
 ALPN/HTTP2 not offered

 Testing cipher categories 

 NULL ciphers (no encryption)                  not offered (OK)
 Anonymous NULL Ciphers (no authentication)    not offered (OK)
 Export ciphers (w/o ADH+NULL)                 not offered (OK)
 LOW: 64 Bit + DES encryption (w/o export)     not offered (OK)
 Weak 128 Bit ciphers (SEED, IDEA, RC[2,4])    not offered (OK)
 Triple DES Ciphers (Medium)                   not offered (OK)
 High encryption (AES+Camellia, no AEAD)       offered (OK)
 Strong encryption (AEAD ciphers)              offered (OK)


 Testing robust (perfect) forward secrecy, (P)FS -- omitting Null Authentication/Encryption, 3DES, RC4 

 PFS is offered (OK)          ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES256-SHA384 ECDHE-RSA-AES256-SHA DHE-RSA-AES256-GCM-SHA384 DHE-RSA-AES256-SHA256 DHE-RSA-AES256-SHA
                              ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES128-SHA256 ECDHE-RSA-AES128-SHA DHE-RSA-AES128-GCM-SHA256 DHE-RSA-AES128-SHA256 DHE-RSA-AES128-SHA
 Elliptic curves offered:     secp384r1


 Testing server preferences 

 Has server cipher order?     yes (OK)
 Negotiated protocol          TLSv1.2
 Negotiated cipher            ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Cipher order
    TLSv1:     ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA AES128-SHA AES256-SHA
    TLSv1.1:   ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA AES128-SHA AES256-SHA
    TLSv1.2:   ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES256-GCM-SHA384 DHE-RSA-AES128-GCM-SHA256 DHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES128-SHA256 ECDHE-RSA-AES256-SHA384
               ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA256 DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA256 DHE-RSA-AES256-SHA AES128-GCM-SHA256 AES256-GCM-SHA384
               AES128-SHA256 AES256-SHA256 AES128-SHA AES256-SHA


 Testing server defaults (Server Hello) 

 TLS extensions (standard)    "renegotiation info/#65281" "EC point formats/#11" "session ticket/#35" "heartbeat/#15"
 Session Ticket RFC 5077 hint 300 seconds, session tickets keys seems to be rotated < daily
 SSL Session ID support       yes
 Session Resumption           Tickets: yes, ID: yes
 TLS clock skew               Random values, no fingerprinting possible
 Signature Algorithm          SHA256 with RSA
 Server key size              RSA 2048 bits
 Server key usage             --
 Server extended key usage    --
 Serial / Fingerprints        A6BDEC4F51F06955 / SHA1 52BE8F2591AA2033C68923D6C72523D4B74A22EF
                              SHA256 B0F8EBA2222F5EA58D54E12D5C99F0ED411A349613BBD47D86E943888C853EED
 Common Name (CN)             ada-tt-20161011-00034
 subjectAltName (SAN)         missing (NOT ok) -- Browsers are complaining
 Issuer                       self-signed (NOT ok)
 Trust (hostname)             certificate does not match supplied URI
 Chain of trust               NOT ok (self signed)
 EV cert (experimental)       no
 Certificate Validity (UTC)   expires < 30 days (26) (2018-11-02 15:11 --> 2018-12-02 15:11)
 # of certificates provided   1
 Certificate Revocation List  --
 OCSP URI                     --
                              NOT ok -- neither CRL nor OCSP URI provided
 OCSP stapling                not offered
 OCSP must staple extension   --
 DNS CAA RR (experimental)    not offered
 Certificate Transparency     --


 Testing HTTP header response @ "/" 

 HTTP Status Code             302 Found, redirecting to "/cgi-bin/iswebgui.cgi"
 HTTP clock skew              -1541418762 sec from localtime
 Strict Transport Security    not offered
 Public Key Pinning           --
 Server banner                lighttpd
 Application banner           --
 Cookie(s)                    (none issued at "/") -- maybe better try target URL of 30x
 Security headers             --
 Reverse Proxy banner         --


 Testing vulnerabilities 

 Heartbleed (CVE-2014-0160)                not vulnerable (OK), timed out
 CCS (CVE-2014-0224)                       not vulnerable (OK)
 Ticketbleed (CVE-2016-9244), experiment.  not vulnerable (OK)
 ROBOT                                     not vulnerable (OK)
 Secure Renegotiation (CVE-2009-3555)      not vulnerable (OK)
 Secure Client-Initiated Renegotiation     not vulnerable (OK)
 CRIME, TLS (CVE-2012-4929)                not vulnerable (OK)
 BREACH (CVE-2013-3587)                    no HTTP compression (OK)  - only supplied "/" tested
 POODLE, SSL (CVE-2014-3566)               not vulnerable (OK)
 TLS_FALLBACK_SCSV (RFC 7507)              Downgrade attack prevention supported (OK)
 SWEET32 (CVE-2016-2183, CVE-2016-6329)    not vulnerable (OK)
 FREAK (CVE-2015-0204)                     not vulnerable (OK)
 DROWN (CVE-2016-0800, CVE-2016-0703)      not vulnerable on this host and port (OK)
                                           make sure you don't use this certificate elsewhere with SSLv2 enabled services
                                           https://censys.io/ipv4?q=B0F8EBA2222F5EA58D54E12D5C99F0ED411A349613BBD47D86E943888C853EED could help you to find out
 LOGJAM (CVE-2015-4000), experimental      common prime with 3072 bits detected: RFC7919/ffdhe3072,
                                           but no DH EXPORT ciphers
 BEAST (CVE-2011-3389)                     TLS1: ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA AES128-SHA AES256-SHA 
                                           VULNERABLE -- but also supports higher protocols  TLSv1.1 TLSv1.2 (likely mitigated)
 LUCKY13 (CVE-2013-0169), experimental     potentially VULNERABLE, uses cipher block chaining (CBC) ciphers with TLS. Check patches
 RC4 (CVE-2013-2566, CVE-2015-2808)        no RC4 ciphers detected (OK)


 Testing 370 ciphers via OpenSSL plus sockets against the server, ordered by encryption strength 

Hexcode  Cipher Suite Name (OpenSSL)       KeyExch.   Encryption  Bits     Cipher Suite Name (RFC)
-----------------------------------------------------------------------------------------------------------------------------
 xc030   ECDHE-RSA-AES256-GCM-SHA384       ECDH 384   AESGCM      256      TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
 xc028   ECDHE-RSA-AES256-SHA384           ECDH 384   AES         256      TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
 xc014   ECDHE-RSA-AES256-SHA              ECDH 384   AES         256      TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
 x9f     DHE-RSA-AES256-GCM-SHA384         DH 3072    AESGCM      256      TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
 x6b     DHE-RSA-AES256-SHA256             DH 3072    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA256
 x39     DHE-RSA-AES256-SHA                DH 3072    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA
 x9d     AES256-GCM-SHA384                 RSA        AESGCM      256      TLS_RSA_WITH_AES_256_GCM_SHA384
 x3d     AES256-SHA256                     RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA256
 x35     AES256-SHA                        RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA
 xc02f   ECDHE-RSA-AES128-GCM-SHA256       ECDH 384   AESGCM      128      TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
 xc027   ECDHE-RSA-AES128-SHA256           ECDH 384   AES         128      TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
 xc013   ECDHE-RSA-AES128-SHA              ECDH 384   AES         128      TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
 x9e     DHE-RSA-AES128-GCM-SHA256         DH 3072    AESGCM      128      TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
 x67     DHE-RSA-AES128-SHA256             DH 3072    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA256
 x33     DHE-RSA-AES128-SHA                DH 3072    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA
 x9c     AES128-GCM-SHA256                 RSA        AESGCM      128      TLS_RSA_WITH_AES_128_GCM_SHA256
 x3c     AES128-SHA256                     RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA256
 x2f     AES128-SHA                        RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA


 Running client simulations (HTTP) via sockets 

 Android 4.2.2                TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
 Android 4.4.2                TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Android 5.0.0                TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Android 6.0                  TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Android 7.0                  TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Chrome 57 Win 7              TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Chrome 65 Win 7              TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Firefox 53 Win 7             TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Firefox 59 Win 7             TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 IE 6 XP                      No connection
 IE 7 Vista                   TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
 IE 8 Win 7                   TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
 IE 8 XP                      No connection
 IE 11 Win 7                  TLSv1.2 DHE-RSA-AES128-GCM-SHA256, 3072 bit DH (ffdhe3072)
 IE 11 Win 8.1                TLSv1.2 DHE-RSA-AES128-GCM-SHA256, 3072 bit DH (ffdhe3072)
 IE 11 Win Phone 8.1          TLSv1.2 ECDHE-RSA-AES128-SHA256, 384 bit ECDH (P-384)
 IE 11 Win 10                 TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Edge 13 Win 10               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Edge 13 Win Phone 10         TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Edge 15 Win 10               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Opera 17 Win 7               TLSv1.2 ECDHE-RSA-AES128-SHA256, 384 bit ECDH (P-384)
 Safari 9 iOS 9               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Safari 9 OS X 10.11          TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Safari 10 OS X 10.12         TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Apple ATS 9 iOS 9            TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Tor 17.0.9 Win 7             TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
 Java 6u45                    No connection
 Java 7u25                    TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
 Java 8u161                   TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 Java 9.0.4                   TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 OpenSSL 1.0.1l               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
 OpenSSL 1.0.2e               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)

 Done 2018-11-05 15:37:38 [ 257s] -->> 192.168.10.149:443 (192.168.10.149) <<--
```

You can see a 2048 bit RSA key is used. Client simulation results are consistent with testing a real IE8 in a Windows XP virtual machine. (I also tried with 2048 DH param, does not work, too.)

The cipher list includes "DES-CBC3-SHA", but your server does not appear to be honoring that: "Triple DES Ciphers (Medium)                   not offered (OK)". 

Does 'ssl.cipher-list' still need to be declared inside each $HTTP["host"]
conditional? That was a thing back in 2013, anyways.


On Mon, Nov 5, 2018 at 6:46 AM Alexander Dahl <notifications@github.com>
wrote:

> Maybe it should, but it does not. This is what the site generates
> (following my first link from above):
>
> $SERVER["socket"] == ":443" {
>     protocol     = "https://"
>     ssl.engine   = "enable"
>     ssl.disable-client-renegotiation = "enable"
>
>     # pemfile is cert+privkey, ca-file is the intermediate chain in one file
>     ssl.pemfile               = "/path/to/signed_cert_plus_private_key.pem"
>     ssl.ca-file               = "/path/to/intermediate_certificate.pem"
>
>     # for DH/DHE ciphers, dhparam should be >= 2048-bit
>     ssl.dh-file               = "/path/to/dhparam.pem"
>     # ECDH/ECDHE ciphers curve strength (see `openssl ecparam -list_curves`)
>     ssl.ec-curve              = "secp384r1"
>     # Compression is by default off at compile-time, but use if needed
>     # ssl.use-compression     = "disable"
>
>     # Environment flag for HTTPS enabled
>     setenv.add-environment = (
>         "HTTPS" => "on"
>     )
>
>     # intermediate configuration, tweak to your needs
>     ssl.use-sslv2 = "disable"
>     ssl.use-sslv3 = "disable"
>     ssl.honor-cipher-order    = "enable"
>     ssl.cipher-list           = "ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS"
>
>     # HSTS(15768000 seconds = 6 months)
>     setenv.add-response-header  = (
>         "Strict-Transport-Security" => "max-age=15768000;"
>     )
>
>     ...
> }
>
> The cert/key is a self signed from openssl 1.0.1o (as said above),
> generated like this:
>
> openssl req -x509 -new -keyout key.pem -out cert.pem -nodes -subj "/CN=$(hostname)" -utf8 -batch
>
> And this is the output of a testssl.sh (3.0rc2-17-gc0b43b3) run against
> that lighttpd 1.4.51 server:
>
> ###########################################################
>     testssl.sh       3.0rc2 from https://testssl.sh/dev/
>     (c0b43b3 2018-11-02 14:04:12 -- )
>
>       This program is free software. Distribution and
>              modification under GPLv2 permitted.
>       USAGE w/o ANY WARRANTY. USE IT AT YOUR OWN RISK!
>
>        Please file bugs @ https://testssl.sh/bugs/
>
> ###########################################################
>
>  Using "OpenSSL 1.0.2-chacha (1.0.2i-dev)" [~183 ciphers]
>  on ada:./bin/openssl.Linux.x86_64
>  (built: "Jun 22 19:32:29 2016", platform: "linux-x86_64")
>
>
>  Start 2018-11-05 15:33:23        -->> 192.168.10.149:443 (192.168.10.149) <<--
>
>  rDNS (192.168.10.149):  --
>  Service detected:       HTTP
>
>
>  Testing protocols via sockets except NPN+ALPN
>
>  SSLv2      not offered (OK)
>  SSLv3      not offered (OK)
>  TLS 1      offered
>  TLS 1.1    offered
>  TLS 1.2    offered (OK)
>  TLS 1.3    not offered
>  NPN/SPDY   not offered
>  ALPN/HTTP2 not offered
>
>  Testing cipher categories
>
>  NULL ciphers (no encryption)                  not offered (OK)
>  Anonymous NULL Ciphers (no authentication)    not offered (OK)
>  Export ciphers (w/o ADH+NULL)                 not offered (OK)
>  LOW: 64 Bit + DES encryption (w/o export)     not offered (OK)
>  Weak 128 Bit ciphers (SEED, IDEA, RC[2,4])    not offered (OK)
>  Triple DES Ciphers (Medium)                   not offered (OK)
>  High encryption (AES+Camellia, no AEAD)       offered (OK)
>  Strong encryption (AEAD ciphers)              offered (OK)
>
>
>  Testing robust (perfect) forward secrecy, (P)FS -- omitting Null Authentication/Encryption, 3DES, RC4
>
>  PFS is offered (OK)          ECDHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES256-SHA384 ECDHE-RSA-AES256-SHA DHE-RSA-AES256-GCM-SHA384 DHE-RSA-AES256-SHA256 DHE-RSA-AES256-SHA
>                               ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES128-SHA256 ECDHE-RSA-AES128-SHA DHE-RSA-AES128-GCM-SHA256 DHE-RSA-AES128-SHA256 DHE-RSA-AES128-SHA
>  Elliptic curves offered:     secp384r1
>
>
>  Testing server preferences
>
>  Has server cipher order?     yes (OK)
>  Negotiated protocol          TLSv1.2
>  Negotiated cipher            ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Cipher order
>     TLSv1:     ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA AES128-SHA AES256-SHA
>     TLSv1.1:   ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA AES128-SHA AES256-SHA
>     TLSv1.2:   ECDHE-RSA-AES128-GCM-SHA256 ECDHE-RSA-AES256-GCM-SHA384 DHE-RSA-AES128-GCM-SHA256 DHE-RSA-AES256-GCM-SHA384 ECDHE-RSA-AES128-SHA256 ECDHE-RSA-AES256-SHA384
>                ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA256 DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA256 DHE-RSA-AES256-SHA AES128-GCM-SHA256 AES256-GCM-SHA384
>                AES128-SHA256 AES256-SHA256 AES128-SHA AES256-SHA
>
>
>  Testing server defaults (Server Hello)
>
>  TLS extensions (standard)    "renegotiation info/#65281" "EC point formats/#11" "session ticket/#35" "heartbeat/#15"
>  Session Ticket RFC 5077 hint 300 seconds, session tickets keys seems to be rotated < daily
>  SSL Session ID support       yes
>  Session Resumption           Tickets: yes, ID: yes
>  TLS clock skew               Random values, no fingerprinting possible
>  Signature Algorithm          SHA256 with RSA
>  Server key size              RSA 2048 bits
>  Server key usage             --
>  Server extended key usage    --
>  Serial / Fingerprints        A6BDEC4F51F06955 / SHA1 52BE8F2591AA2033C68923D6C72523D4B74A22EF
>                               SHA256 B0F8EBA2222F5EA58D54E12D5C99F0ED411A349613BBD47D86E943888C853EED
>  Common Name (CN)             ada-tt-20161011-00034
>  subjectAltName (SAN)         missing (NOT ok) -- Browsers are complaining
>  Issuer                       self-signed (NOT ok)
>  Trust (hostname)             certificate does not match supplied URI
>  Chain of trust               NOT ok (self signed)
>  EV cert (experimental)       no
>  Certificate Validity (UTC)   expires < 30 days (26) (2018-11-02 15:11 --> 2018-12-02 15:11)
>  # of certificates provided   1
>  Certificate Revocation List  --
>  OCSP URI                     --
>                               NOT ok -- neither CRL nor OCSP URI provided
>  OCSP stapling                not offered
>  OCSP must staple extension   --
>  DNS CAA RR (experimental)    not offered
>  Certificate Transparency     --
>
>
>  Testing HTTP header response @ "/"
>
>  HTTP Status Code             302 Found, redirecting to "/cgi-bin/iswebgui.cgi"
>  HTTP clock skew              -1541418762 sec from localtime
>  Strict Transport Security    not offered
>  Public Key Pinning           --
>  Server banner                lighttpd
>  Application banner           --
>  Cookie(s)                    (none issued at "/") -- maybe better try target URL of 30x
>  Security headers             --
>  Reverse Proxy banner         --
>
>
>  Testing vulnerabilities
>
>  Heartbleed (CVE-2014-0160)                not vulnerable (OK), timed out
>  CCS (CVE-2014-0224)                       not vulnerable (OK)
>  Ticketbleed (CVE-2016-9244), experiment.  not vulnerable (OK)
>  ROBOT                                     not vulnerable (OK)
>  Secure Renegotiation (CVE-2009-3555)      not vulnerable (OK)
>  Secure Client-Initiated Renegotiation     not vulnerable (OK)
>  CRIME, TLS (CVE-2012-4929)                not vulnerable (OK)
>  BREACH (CVE-2013-3587)                    no HTTP compression (OK)  - only supplied "/" tested
>  POODLE, SSL (CVE-2014-3566)               not vulnerable (OK)
>  TLS_FALLBACK_SCSV (RFC 7507)              Downgrade attack prevention supported (OK)
>  SWEET32 (CVE-2016-2183, CVE-2016-6329)    not vulnerable (OK)
>  FREAK (CVE-2015-0204)                     not vulnerable (OK)
>  DROWN (CVE-2016-0800, CVE-2016-0703)      not vulnerable on this host and port (OK)
>                                            make sure you don't use this certificate elsewhere with SSLv2 enabled services
>                                            https://censys.io/ipv4?q=B0F8EBA2222F5EA58D54E12D5C99F0ED411A349613BBD47D86E943888C853EED could help you to find out
>  LOGJAM (CVE-2015-4000), experimental      common prime with 3072 bits detected: RFC7919/ffdhe3072,
>                                            but no DH EXPORT ciphers
>  BEAST (CVE-2011-3389)                     TLS1: ECDHE-RSA-AES128-SHA ECDHE-RSA-AES256-SHA DHE-RSA-AES128-SHA DHE-RSA-AES256-SHA AES128-SHA AES256-SHA
>                                            VULNERABLE -- but also supports higher protocols  TLSv1.1 TLSv1.2 (likely mitigated)
>  LUCKY13 (CVE-2013-0169), experimental     potentially VULNERABLE, uses cipher block chaining (CBC) ciphers with TLS. Check patches
>  RC4 (CVE-2013-2566, CVE-2015-2808)        no RC4 ciphers detected (OK)
>
>
>  Testing 370 ciphers via OpenSSL plus sockets against the server, ordered by encryption strength
>
> Hexcode  Cipher Suite Name (OpenSSL)       KeyExch.   Encryption  Bits     Cipher Suite Name (RFC)
> -----------------------------------------------------------------------------------------------------------------------------
>  xc030   ECDHE-RSA-AES256-GCM-SHA384       ECDH 384   AESGCM      256      TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
>  xc028   ECDHE-RSA-AES256-SHA384           ECDH 384   AES         256      TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
>  xc014   ECDHE-RSA-AES256-SHA              ECDH 384   AES         256      TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
>  x9f     DHE-RSA-AES256-GCM-SHA384         DH 3072    AESGCM      256      TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
>  x6b     DHE-RSA-AES256-SHA256             DH 3072    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA256
>  x39     DHE-RSA-AES256-SHA                DH 3072    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA
>  x9d     AES256-GCM-SHA384                 RSA        AESGCM      256      TLS_RSA_WITH_AES_256_GCM_SHA384
>  x3d     AES256-SHA256                     RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA256
>  x35     AES256-SHA                        RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA
>  xc02f   ECDHE-RSA-AES128-GCM-SHA256       ECDH 384   AESGCM      128      TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
>  xc027   ECDHE-RSA-AES128-SHA256           ECDH 384   AES         128      TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
>  xc013   ECDHE-RSA-AES128-SHA              ECDH 384   AES         128      TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
>  x9e     DHE-RSA-AES128-GCM-SHA256         DH 3072    AESGCM      128      TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
>  x67     DHE-RSA-AES128-SHA256             DH 3072    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA256
>  x33     DHE-RSA-AES128-SHA                DH 3072    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA
>  x9c     AES128-GCM-SHA256                 RSA        AESGCM      128      TLS_RSA_WITH_AES_128_GCM_SHA256
>  x3c     AES128-SHA256                     RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA256
>  x2f     AES128-SHA                        RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA
>
>
>  Running client simulations (HTTP) via sockets
>
>  Android 4.2.2                TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
>  Android 4.4.2                TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Android 5.0.0                TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Android 6.0                  TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Android 7.0                  TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Chrome 57 Win 7              TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Chrome 65 Win 7              TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Firefox 53 Win 7             TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Firefox 59 Win 7             TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  IE 6 XP                      No connection
>  IE 7 Vista                   TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
>  IE 8 Win 7                   TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
>  IE 8 XP                      No connection
>  IE 11 Win 7                  TLSv1.2 DHE-RSA-AES128-GCM-SHA256, 3072 bit DH (ffdhe3072)
>  IE 11 Win 8.1                TLSv1.2 DHE-RSA-AES128-GCM-SHA256, 3072 bit DH (ffdhe3072)
>  IE 11 Win Phone 8.1          TLSv1.2 ECDHE-RSA-AES128-SHA256, 384 bit ECDH (P-384)
>  IE 11 Win 10                 TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Edge 13 Win 10               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Edge 13 Win Phone 10         TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Edge 15 Win 10               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Opera 17 Win 7               TLSv1.2 ECDHE-RSA-AES128-SHA256, 384 bit ECDH (P-384)
>  Safari 9 iOS 9               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Safari 9 OS X 10.11          TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Safari 10 OS X 10.12         TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Apple ATS 9 iOS 9            TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Tor 17.0.9 Win 7             TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
>  Java 6u45                    No connection
>  Java 7u25                    TLSv1.0 ECDHE-RSA-AES128-SHA, 384 bit ECDH (P-384)
>  Java 8u161                   TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  Java 9.0.4                   TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  OpenSSL 1.0.1l               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>  OpenSSL 1.0.2e               TLSv1.2 ECDHE-RSA-AES128-GCM-SHA256, 384 bit ECDH (P-384)
>
>  Done 2018-11-05 15:37:38 [ 257s] -->> 192.168.10.149:443 (192.168.10.149) <<--
>
> You can see a 2048 bit RSA key is used. Client simulation results are
> consistent with testing a real IE8 in a Windows XP virtual machine. (I also
> tried with 2048 DH param, does not work, too.)
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/mozilla/server-side-tls/issues/226#issuecomment-435900452>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAFqDCpwM7tiOoRI8RlJQWiNCUyMidomks5usE8qgaJpZM4YL1z8>
> .
>


> The cipher list includes "DES-CBC3-SHA", but your server does not appear to be honoring that: "Triple DES Ciphers (Medium) not offered (OK)".

I took a deeper look. Actually what I'm using here is [ptxdist](https://www.ptxdist.org/) and that comes with some patches on top of OpenSSL, especially this one: [Mark 3DES and RC4 ciphers as weak](https://git.pengutronix.de/cgit/ptxdist/tree/patches/openssl-1.0.2n/0010-Mark-3DES-and-RC4-ciphers-as-weak.patch?h=ptxdist-2018.02.0).

So I guess that's the reason, why 3DES is not supported by my setup anymore?!

Okay, sorry for the noise and thanks everyone, who looked into that!