TLS & Gzip on NGINX

Hello,

Is it still recommended that gzip be disabled  over TLS connections?  Specifically, TLS v1.2 and v1.3 on NGINX versions >= 1.14?  I know in the past disabling it removed the CRIME and BREACH exploits.  But, is it still something that's exploitable in modern browsers where the web server is also enforcing TLS v1.2 and  v1.3?

This comment from May 2019 is interesting  https://github.com/h5bp/server-configs-nginx/issues/72#issuecomment-472808075  and seems to state that the risk has been mitigated by modern browsers:

>GZIP is good. Leave it as is. Don't worry about GZIP being enabled on the webserver, protecting from BREACH attacks is not the responsibility of the webserver. BREACH attacks are the responsibility of the browser and browsers have become mature enough to handle it correctly using Same-Site cookie flags

So, I guess we're looking for guidance or a "best-practice" from more of an "official" source.

Thanks.

no, I don't think putting the squarely on browsers is the right approach

the right approach is use HTTP/2.0 or HTTP/3.0 with their safe compression methods; but they don't use gzip

TLS compression still ought to be disabled.  However, it sounds like you might be confusing this with either HPACK (HTTP/2 header compression) and/or HTTP-level compression methods like Deflate, GZip, or Brotli;  all of these are perfectly safe to use, and are recommended for use in production environments.

I think this issue can be closed.

> Is it still recommended that gzip be disabled over TLS connections?

**Yes** (if by "gzip" you actually meant TLS-layer compression)

RFC 7540 HTTP/2
requires that TLS compression be disabled in TLS 1.2
https://tools.ietf.org/html/rfc7540#section-9.2.1
>    A deployment of HTTP/2 over TLS 1.2 MUST disable compression.  TLS
   compression can lead to the exposure of information that would not
   otherwise be revealed [RFC3749].  Generic compression is unnecessary
   since HTTP/2 provides compression features that are more aware of
   context and therefore likely to be more appropriate for use for
   performance, security, or other reasons.

RFC 8447 IANA Registry Updates for TLS and DTLS
marks TLS-layer compression NULL for TLS 1.3 and later.
https://tools.ietf.org/html/rfc8447 
>    To make it clear that (D)TLS 1.3 has orphaned certain registries
   (i.e., they are only applicable to version of (D)TLS protocol
   versions prior to 1.3), IANA:
>
>   o  has added the following to the TLS Compression Method Identifiers
      registry [RFC3749]:
>
>   Note:  Value 0 (NULL) is the only value in this registry applicable
      to (D)TLS protocol version 1.3 or later.